<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/homePage.css">

    <style>
        .table-container {
            padding: 15px 20px;
        }

        .title {
            font-size: 2rem;
            font-weight: bold;
            padding-bottom: 15px;
        }

        table{
            border-collapse: collapse;
            width: 100%;
        }

        th, td{
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover{background-color: #ccc;}
    </style>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    <div class="table-container">
        <div class="title">List Users</div> 
        <table>
            <tr>
                <table>
                    <tr class="title">
                        <td>Id</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>City</td>
                        <td>Actions</td>
                    </tr>
                    <% listUsers.forEach(function(user) { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.city %></td>
                            <td>
                                <button>Edit</button>
                                <button>Delete</button>
                            </td>
                        </tr>
                    <% }) %>
                    </table>
            </tr>
        </table>
    </div>
</body>
</html>