<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/homePage.css">

    <style>
        .table-container {
            padding: 15px 20px;
        }

        .title {
            font-size: 2rem;
            font-weight: bold;
            padding-bottom: 15px;
        }

        table{
            border-collapse: collapse;
            width: 100%;
        }

        th, td{
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover{background-color: #ccc;}
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    <div class="table-container">
        <div class="title">List Users</div> 
        <table>
            <tr>
              <th>Id</th>
              <th>Email</th>
              <th>Name</th>
              <th>City</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
              <td>94</td>
            </tr>
            <tr>
              <td>Adam</td>
              <td>Johnson</td>
              <td>67</td>
              <td>67</td>
            </tr>
        </table>
    </div>
</body>
</html>