
.myButtons{
    font-size: 6rem;
    margin:10px;
    border:none;
    border-radius: 5px;
    padding: 10px 15px;
}

.enabled{
    background-color:hsl(240, 100%, 70%);
    color:white;
}
.hover{
    box-shadow: 0 0 10px gray;
    font-weight:bold;
}
.disabled{
    background-color: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 10%);
    
}