body{
    background-color: hsl(0, 0%, 10%);
}

.to-do-list{
    font-family: monospace;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: white;
}

button{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button{
    background-color: hsl(120, 100%, 45%);
}

.add-button:hover{
    background-color: hsl(120, 100%, 65%);

}

.delete-button{
    background-color: hsl(0, 100%, 50%);
}

.delete-button:hover{
    background-color: hsl(0, 100%, 70%);
}

.move-button{
    background-color: hsl(240, 100%, 50%);
}

.move-button:hover{
    background-color: hsl(240, 100%, 70%);
}

input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsl(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsl(0, 0%, 0%, 0.75);
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    border: 2px solid hsl(0, 0%, 0%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;

}
