.list-category{
    font-size: 3rem;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: hsl(185, 100%, 50%);
}

.list-item{
    font-size: 2em;
    list-style: none;
    color: hsl(0, 0%, 25%);
    text-align: center;
    margin: 0;
    
}

.list-item li:hover{
    color:hsl(0, 0%, 45%);
    cursor: pointer;
}