.welcome-message{
  font-size: 2.5rem;
  background-color: hsl(120, 100%, 42%);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5rem;
  background-color: hsl(0, 100%, 42%);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
}