body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99BC85;
}

#myH1{
    font-size: 4rem;
    font-family: monospace;
    color: #BFD8AF;
    text-shadow: 2px 0 black, 
                -2px 0 black, 
                 0 2px black, 
                 0 -2px black, 
                 1px 1px black,  
                -1px -1px black,    
                -1px 1px black, 
                 1px -1px black;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #E1F0DA ;
    border-radius: 50px;
    padding: 15px;
    background-color: #D4E7C5;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: #99BC85;
    text-shadow: 2px 0 black, 
                -2px 0 black, 
                 0 2px black, 
                 0 -2px black, 
                 1px 1px black,  
                -1px -1px black,    
                -1px 1px black, 
                 1px -1px black;

}

#controls button{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin: 5px;
    padding: 10px 20px;
    min-width: 125px;
    cursor: pointer;
    transition: backgroud-color 0.5s ease;
}

#startBtn{
    background-color: hsl(120, 100%, 55%);
}
#startBtn:hover{
    background-color: hsl(120, 100%, 75%);
}

#stopBtn{
    background-color: hsl(0, 100%, 55%);
}
#stopBtn:hover{
    background-color: hsl(0, 100%, 75%);
}

#resetBtn{
    background-color: hsl(205, 100%, 55%);
}
#resetBtn:hover{
    background-color: hsl(205, 100%, 75%);
}